@charset "UTF-8";

body {
    background-image: linear-gradient(45deg, #DB4C40, #F0C987, #89BD9E, #241909);
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

main{
    background-color: rgb(236, 221, 197);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #a2c5b09c;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1{
    color: #DB4C40;
    text-align: center;
    text-shadow: 1px 1px 1px #722720;
}

h2{
    color: #68b989;
    text-shadow: 1px 1px 1px #792a23;
}

h3{
    color: #810000;
    text-shadow: 1px 1px 1px #246d40;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}