@charset "UTF-8";

:root{
    --cor0: #E07E11;
    --cor1: #B6762D;
    --cor2: #8B653A;
    --cor3: #614E38;
    --cor4: #33302D;
}

body{
    background-color: #33302D;
}

header{
    background-color: #33302D;
    width: auto;
    height: 600px;
}